<h1><%= @task.title%></h1>
<h3><%= link_to "Edit this task", task_edit_path(@task) %></h3>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
